@use 'variables' as *;

form {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.frame-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .wrapper {
        position: relative;

        >textarea {
            height: 108px;
            resize: none;
            background-color: transparent;
            border: 2px solid $color-torquiose;
            padding: 16px;
            color: $color-torquiose;
            width: 50vw;

            &::placeholder {
                color: #02f4c098;
            }

            &:focus {
                outline: none;
                border-color: darken($color-torquiose, 10%);
                box-shadow: 0 0 6px rgba($color-torquiose, 0.5);
            }
        }
    }
}

.info-data {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .wrapper {
        width: 35vw;

        >input {
            background-color: transparent;
            border: 2px solid $color-torquiose;
            padding: 16px;
            color: $color-torquiose;
            width: 30vw;

            &::placeholder {
                color: #02f4c098;
            }

            &:focus {
                outline: none;
                border-color: darken($color-torquiose, 10%);
                box-shadow: 0 0 6px rgba($color-torquiose, 0.5);
            }
        }
    }
}



.checkbox {
    margin-top: 32px;
    width: 100%;
    display: flex;
    gap: 12px;
    font-size: 16px;
    align-items: center;
    color: $color-torquiose;

    >input {
        cursor: pointer;
    }

    span {
        flex: 1;

        >a {
            cursor: pointer;
            color: $color-darkorange;
        }
    }
}

input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $color-darkorange;
    background-color: transparent;
    position: relative;
    transition: all 0.2s;
    color: $color-darkorange;
    padding: 9px;

    &:checked {
        background-color: $color-torquiose;
        border-color: $color-darkorange;

        &::after {
            content: '';
            position: absolute;
            top: 2px;
            left: 6px;
            width: 5px;
            height: 10px;
            border: solid $color-darkorange;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    &:hover {
        background-color: $color-torquiose;
    }
}

.warning {
    width: 200px;
    height: 100px;
}

.submit_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    input[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: #333;
    }

    input {
        width: 100px;
        height: 50px;
        background-color: transparent;
        transition: all 175ms ease-in-out;
        font-size: 18px;


        &:not(:disabled) {

            border: 2px solid $color-torquiose;
            color: $color-torquiose;

            &:hover {
                cursor: pointer;
                border: 2px solid $color-torquiose;
                color: $color-darkorange;
            }
        }

        &:active {
            border: 2px solid red;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    -webkit-text-fill-color: $color-torquiose !important;
}

.placeholder-default::placeholder {
    color: rgba($color-torquiose, 0.5) !important;
}

.placeholder-error::placeholder {
    color: red !important;
}

.placeholder-success::placeholder {
    color: limegreen !important;
}

.mark {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10%;
    top: 16px;
}

.overlay-popup {
    position: absolute;
    left: -80%;
    top: 50vh;
    padding: 16px;
    font-size: 32px;
    color: rgba($color-torquiose, 1);
    background-color: $color-darkblue;
    border: solid rgba($color-torquiose, 1);
    visibility: hidden;
}

.overlay-popup.animate {
    animation: fadeInOut 4s ease-in;
}

@keyframes fadeInOut {
    
    0% {
        left: -100%;
        opacity: 0;
        animation-timing-function: cubic-bezier(.1, 0, .2, 1); // very slow start
    }
    
    30% {
        visibility: visible;
        left: 25%;
        opacity: 1;
        animation-timing-function: linear;
    }
    
    80% {
        visibility: visible;
        left: 25%;
        opacity: 1;
        animation-timing-function: ease-out;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

@media(max-width:1400px) {
    form {
        display: flex;
        flex-direction: column;

        >.frame-input {
            justify-content: center;
            align-items: center;
            flex-direction: column;

            >.info-data {
                >input {
                    width: 300px;
                    min-width: 200px;
                }
            }

            .wrapper {
                width: 100%;

                >textarea {
                    width: 30vw;
                }
            }
        }
    }

    .submit_btn {
        margin-top: 24px;
        margin-right: 24px;
    }

    .mark {
        right: 4%;
    }
}

@media(max-width:900px) {
    .overlay-popup {
        left: -300%;
        top: 70vh;
        padding: 8px;
        font-size: 16px;
    }

    .checkbox {
        input {
            margin-left: 24px;
        }

        span {
            margin-right: 24px;
        }
    }

    .submit_btn {
        justify-content: center;
        margin-right: 0;
    }
}

@media(max-width:400px) {
    form {
        >.frame-input {
            >.info-data {
                >.wrapper {
                    width: 100%;

                    >input {
                        width: 200px;
                    }
                }
            }

            >.wrapper {
                width: 100%;

                >textarea {
                    width: 200px;
                }
            }
        }
    }
}