@use 'variables' as *;

section {
    padding: 0 64px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;

    h2 {
        color: $color-darkorange;
        font-size: 54px;
        margin: 0;
        margin-bottom: 16px;
        padding-top: 120px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-end;

    >img {
        margin-bottom: 24px;
    }
}

.frame-contact-me {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;

    >div {
        gap: 70px;

        >p {
            font-weight: 400;
            font-size: 18px;
            margin: 0;
            width: 40%;
            color: $color-torquiose;
            margin-right: 16px;
        }

        display: flex;
    }

    .colum {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        >div {
            gap: 16px;
            display: flex;
            margin-bottom: 16px;
            color: $color-torquiose;
            align-items: flex-end;

            >a {
                display: flex;
                gap: 16px;
                color: $color-torquiose;
                font-size: 20px;
                align-items: center;

                >img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .arrow_up_frame {
        background: none;
        border: none;

        >img {
            cursor: pointer;
            border: 2px solid transparent;
            padding: 4px;

            &:hover {
                border: 2px solid $color-torquiose;
            }
        }
    }
}

.responsive {
    display: none;
}

@media(max-width:1400px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .normal {
        display: none;
    }

    .responsive {
        display: flex;
        color: $color-torquiose
    }

    .column-extra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 24px;

        .arrow_up_frame {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
        }

        >a {
            position: relative;
            height: 50px;
        }

        >div>a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;

            img {
                margin-right: 24px;
                width: 25px;
            }
        }
    }

}

@media(max-width:900px) {
    section{
        h2{
            font-size: 48px;
        }
        padding: 16px 0;
    }
}

@media(max-width:650px) {
    section{
        h2{
            font-size: 36px;
        }
        padding: 16px 0;
    }
}
