@use 'variables' as *;

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 64px;
    flex-grow: 1;

    >img {
        width: 65%;
        aspect-ratio: 1.5/1;
    }

    >.aot_infos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;

        >.frame_contact_btn {
            display: flex;
            width: 100%;
            justify-content: flex-start;

            >.contact_btn {
                background-color: $color-darkblue;
                padding: 16px;
                transform: rotateZ(270deg);
                border: 2px solid $color-torquiose;
                color: $color-darkorange;
                font-size: 18px;
                transition: all 175ms ease-in;

                &:hover {
                    color: $color-torquiose;
                }
            }
        }

        >div {
            >h1 {
                margin: 0;
                font-size: 82px;
                color: $color-torquiose;
                text-align: left;
                font-weight: 700;
            }

            >h2 {
                margin: 0;
                font-size: 54px;
                color: $color-torquiose;
                text-align: left;
            }
        }
    }
}

@media(max-width:1800px){
    section{
        >.aot_infos {
            gap: 10px;
        }
    }
}

.aot_frame {
    background-color: $color-darkblue;
    width: 90%;
    height: 100vh;
}

.arrow_frame {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: end;
    background-color: none;
    padding-top: 20px;
    margin-bottom: 64px;

    >button {
        border: 2px solid transparent;
        background: none;
        margin: 0;
        padding: 4px;

        &:hover {
            border: 2px solid $color-torquiose;
            cursor: pointer;
        }
    }

    >img {
        width: 72px;
        height: 72px;
        object-fit: contain;
    }

}