$color-torquiose: #02F4BF;
$color-darkblue: #13074E;
$color-darkorange: #E15544;
$color-darkblue-transparent: #13074ec8;

header{
    position: fixed;
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    color: $color-darkorange;
    z-index: 100;
    padding: 0 64px;
}

.frame_nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    >a{
        width: 60%;
        height: 60%;
        >img{
            width: 100%;
            height: 100%;
        }
    }
    >nav{
        >a{
            white-space: nowrap;
            width: 100%;
            color: $color-darkorange;
            transition: all 175ms ease-in-out;
            &:hover{
                color: $color-torquiose;
            }
        }
        color: $color-darkorange;
        font-size: 22px;
        margin-left: 120px;
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
}

.frame_lang{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    button{
        font-weight: 700;
        font-size: 18px;
        color: $color-darkorange;
        width: 64px;
        height: 64px;
        border: none;
        background-color: transparent;
        transition: all 175ms ease-in-out;
        &:hover{
            color: $color-torquiose;
            cursor: pointer;
        }
    }
}

.background{
    z-index: 10;
    position: fixed;
    top:-20px;
    width: 100%;
    height: 14vh;
    background-color: $color-darkblue;
    filter: blur(10px);
}

.background-transparent{
    z-index: 100;
    position: fixed;
    top:100px;
    width:100%;
    height: 5vh;
    background-color: $color-darkblue-transparent;
    filter: blur(10px);
}