$color-torquiose: #02F4BF;
$color-darkblue: #13074E;
$color-darkorange: #E15544;
$color-darkblue-transparent: #13074ec8;

header{
    position: fixed;
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    color: $color-darkorange;
    z-index: 100;
    padding: 0 64px;
}

@media(min-width:1980px) {
    header{
        width: 45%;
    }
}

@media(max-width:1400px) {
    header{
        width: 100%;
        height: 20vh;
        padding: 0;
        padding-left: 64px;
    }
}

.frame_nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    >a{
        width: 60%;
        height: 60%;
        >img{
            min-width: 130px;
            max-height: 85px;
            width: 100%;
            height: 100%;
        }
    }
    >nav{
        >a{
            white-space: nowrap;
            width: 100%;
            color: $color-darkorange;
            transition: all 175ms ease-in-out;
            &:hover{
                color: $color-torquiose;
            }
        }
        color: $color-darkorange;
        font-size: 22px;
        margin-left: 120px;
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
}

.frame_lang{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    button{
        font-weight: 700;
        font-size: 18px;
        color: $color-darkorange;
        width: 64px;
        height: 64px;
        border: none;
        background-color: transparent;
        transition: all 175ms ease-in-out;
        &:hover{
            color: $color-torquiose;
            cursor: pointer;
        }
    }
}

.frame_lang_burger{
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    button{
        font-weight: 700;
        font-size: 18px;
        color: $color-darkorange;
        width: 64px;
        height: 64px;
        border: none;
        background-color: transparent;
        transition: all 175ms ease-in-out;
        &:hover{
            color: $color-torquiose;
            cursor: pointer;
        }
    }
}

@media(max-width:1400px){
    .frame_nav{
        >nav{
            display: none;
        }
    }
    .frame_lang{
        display: none;
    }
    .frame_lang_burger{
        display: flex;
    }
}

.background{
    z-index: 10;
    position: fixed;
    top:-20px;
    width: 100%;
    height: 14vh;
    background-color: $color-darkblue;
    filter: blur(10px);
}

.background-transparent{
    z-index: 100;
    position: fixed;
    top:100px;
    width:100%;
    height: 5vh;
    background-color: $color-darkblue-transparent;
    filter: blur(10px);
}

.d_none{
    display: none !important;
}

.burger{
    display: none;
    position: fixed;
    top: 15px;
    right: 64px;
    width: 48px;
    height: 48px;
    margin-top: 45px;
    cursor: pointer;
    z-index: 9999;
}

.burger_menu{
    position: absolute;
    padding-top: 64px;
    gap: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b042c;
    z-index: 9999;
}

@media(max-width:1400px){
    .burger{
        display: block;
    }
}

@media(max-width:800px){
    .burger{
        right: 16px;
    }
}

@media(max-width:400px){
    .burger_menu{
        width:85%;
    }
}