@use 'variables' as *;

section {
    padding-right:  128px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin-bottom: 128px;

    >img {
        width: 65%;
        aspect-ratio: 1.5 / 1;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        h2 {
            color: $color-darkorange;
            font-size: 54px;
        }
        
        p{
            color: $color-torquiose;
        }

        h3{
            color: $color-darkorange;
        }
        div{
            color: $color-torquiose;
        }
        button{
            background-color: $color-torquiose;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
        }
    }
}