@use 'variables' as *;

section {
    padding-right: 128px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
    margin-bottom: 128px;

    >img {
        width: 65%;
        aspect-ratio: 1.5 / 1;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        h2 {
            color: $color-darkorange;
            font-size: 54px;
        }

        p {
            color: $color-torquiose;
        }

        h3 {
            color: $color-darkorange;
        }

        div {
            color: $color-torquiose;
        }

        button {
            background-color: $color-torquiose;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
        }
    }
}

.located {
    display: flex;
    flex-direction: row;
    gap: 64px;

    >h3 {
        font-weight: 700;
        font-size: 48px;
        margin: 0;
    }

    >.gps {
        display: flex;
        width: 30px;
        gap: 16px;
        align-items: center;
    }
}

.relocate {
    display: flex;
    flex-direction: row;
    gap: 195px;

    >img {
        margin-left: 160px;
    }
}

.relocate-home{
    display: flex;
    width: 185px;
    gap: 16px;
    align-items: center;
}

.remote {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 190px;
}

.work-remote {
    display: flex;
    width: 185px;
    gap: 16px;
    align-items: center;
}

.btn-frame {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.margin-left{
    margin-left: 88px;
}