@media(min-width:1980px) {
    section {
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        min-height: 100vh;
    }

    router-outlet{
        flex: 1;
    }

    app-header{
        width: 100%;
    }

    app-footer{
        width: 100%;
    }
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}