<section id="my-projects">
    <h2>{{'my-projects.titel' | translate}}</h2>
    @for (project of projects; track $index; let index = $index) {
    <div class="project-frame">
        @if(index % 2 == 0){
        <div data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-delay="0" data-aos-offset="0" data-aos-anchor-placement="bottom-bottom"
            class="extra">
            <img class="normal" src="{{project.image}}" alt="">
            <div class="project-info">
                <h3>{{project.name}}</h3>
                <div class="infos">
                    @for (skill of project.skills; track $index; let index = $index) {
                    <h4>{{skill}}</h4>
                    @if (index != project.skills.length - 1) {
                    <h4 class="line"> | </h4>
                    }
                    }
                </div>
                <p>{{project.description | translate}}</p>
                <img class="responsive" src="{{project.image}}" alt="">
                <div class="btns">
                    <a href="{{project.url}}" target="_blank" class="git-btn">GitHub</a>
                    <a href="{{project.live_url}}" target="_blank" class="live-btn">Live Test</a>
                </div>
            </div>
        </div>
        }
        @else {
        <div data-aos="fade-right" data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-offset="0" data-aos-anchor-placement="bottom-bottom"
            class="project-info">
            <h3>{{project.name}}</h3>
            <div class="infos">
                @for (skill of project.skills; track $index; let index = $index) {
                <h4>{{skill}}</h4>
                @if (index != project.skills.length - 1) {
                <h4 class="line"> | </h4>
                }
                }
            </div>
            <p>{{project.description| translate}}</p>
            <img class="responsive" src="{{project.image}}" alt="">
                <div class="btns">
                    <a href="{{project.url}}" target="_blank" class="git-btn">GitHub</a>
                    <a href="{{project.live_url}}" target="_blank" class="live-btn">Live Test</a>
                </div>
            </div>
            <img data-aos="fade-right" data-aos-easing="ease-in-back" data-aos-delay="0" data-aos-offset="0" data-aos-anchor-placement="bottom-bottom" class="normal" src="{{project.image}}" alt="">
        }
    </div>
    }
</section>