@use 'variables' as *;

section{
    padding: 0 64px;
    h2{
        color: $color-darkorange;
        text-align: center;
        font-size: 54px;
        padding-top: 150px;
    }
    h3{
        color: $color-torquiose;
        font-size: 48px;
        font-weight: 700;
        margin: 0;
    }
    h4{
        color: $color-torquiose;
    }
    p{
        color: $color-torquiose;
        margin-bottom: 64px;
        width: 75%;
    }
    img{
        width: 50%;
    }
}

.project-frame{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 120px;
}

.project-info{
    display: flex;
    flex-direction: column;
    margin: 0 64px;

    .infos{
        display: flex;
        flex-direction: row;
    }
    .btns{
        display: flex;
        flex-direction: row;
    }
}

.git-btn{
    border: 2px solid $color-torquiose;
    padding: 8px 16px;
    color: $color-darkorange;
    transition: all 175ms ease-in-out;
    margin-right: 24px;
    &:hover{
        color: $color-torquiose;
    }
}

.live-btn{
     border: 2px solid $color-torquiose;
     padding: 8px 16px;
     color: $color-darkblue;
     background-color: $color-torquiose;
     transition: all 175ms ease-in-out;
     &:hover{
         color: $color-darkorange;
        }
    }

.line{
    margin-left: 8px;
    margin-right: 8px;
}