@media(min-width:1980px){
    section{
        width: 100%;
        max-width: 1920px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;  
    }
}