@use 'variables' as *;

.frame_my_skills {
    padding: 0 64px;

    h2 {
        margin: 0;
        font-size: 54px;
        color: $color-darkorange;
        margin-bottom: 64px;
        padding-top: 150px;
    }
}

.frame_skill {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    gap: 24px;
    margin-left: -40px;
    h4 {
        color: $color-torquiose;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 175ms ease-in-out;
    max-width: 150px;

    &:hover {
        transform: scale(1.05);
    }
}

.hover {
    display: flex;
    flex-direction: row;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        display: none;
        position: absolute;
        left: 200%;
        color: $color-torquiose;
        width: 90%;
    }

    &:hover p {
        display: inline-block;
        opacity: 1;
    }
}

.frame {
    display: flex;
}

@media(max-width:1400px) {
    .frame_skill {
        margin-left: 0;
    }

    .frame_my_skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 24px;

        >.frame_skill {
            gap: 68px;
        }
    }

    .hover {
        >p {
            left: 120% !important;
        }
    }
}

@media(max-width:1400px) {
    .frame_skill {
        gap: 34px !important;
    }
    
    .skill {
        >img {
            width: 50px;
            aspect-ratio: 1/1;
        }
        
        >h4 {
            font-size: 16px;
        }
    }
    
    .hover {
        div {
            >img {
                width: 50px;
                aspect-ratio: 1/1;
            }
            
            >h4 {
                font-size: 16px;
            }
        }
    }
}


@media(max-width:900px) {
    .frame_my_skills{
        >h2{
            font-size: 38px;
        }
    }
    .frame_skill {
        grid-template-columns: auto auto auto ;
    }
}

@media(max-width:570px) {
    .frame_skill {
        gap: 24px !important;
    }
    .frame_my_skills{
        >h2{
            font-size: 24px;
        }
    }
    .hover {
        >p {
            left: 110% !important;
        }
    }
}

@media(max-width:420px) {
    .frame_my_skills{
        >h2{
            font-size: 18px;
        }
    }
    
    .frame_skill {
        grid-template-columns: auto auto ;
        >h4{
            font-size: 16px;
        }
    }
    .hover {
        >p {
            left: 100% !important;
        }
    }

}

