@use 'variables' as *;

.frame_my_skills {
    margin-bottom: 128px;
    padding: 0 64px;

    h2 {
        font-size: 54px;
        color: $color-darkorange;
        margin-bottom: 64px;
    }
}

.frame_skill {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    gap: 24px;
    h4 {
        color: $color-torquiose;
    }
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 175ms ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
}

.hover{
    &:hover{
        transform: scale(1.05);
    }
}

.frame{
    display: flex;
}