@use 'variables' as *;

.frame_my_skills {
    padding: 0 64px;

    h2 {
        margin: 0;
        font-size: 54px;
        color: $color-darkorange;
        margin-bottom: 64px;
        padding-top: 150px;
    }
}

.frame_skill {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    gap: 24px;
    margin-left: -100px;

    h4 {
        color: $color-torquiose;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 175ms ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.hover {
    display: flex;
    flex-direction: row;
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    p {
        display: none;
        position: absolute;
        left: 100%;
        color: $color-torquiose;
        width: 50%;
    }
    
    &:hover p{
        display: inline-block;
        opacity: 1;
    }
}

.frame {
    display: flex;
}