@use 'variables' as *;

.frame_my_skills {
    padding: 0 64px;

    h2 {
        margin: 0;
        font-size: 54px;
        color: $color-darkorange;
        margin-bottom: 64px;
        padding-top: 150px;
    }
}

.frame_skill {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    gap: 24px;
    margin-left: -100px;

    h4 {
        color: $color-torquiose;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 175ms ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.hover {
    display: flex;
    flex-direction: row;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        position: relative;
        display: inline-block;
    }

    p::after {
        content: "I'm always happy to learn new technologies, just tell me what you need.";
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(0px,-65px);
        opacity: 0;
        color: $color-torquiose;
        transition: opacity 175ms ease, transform 175ms ease;
        width: 250px;
    }

    &:hover p::after {
        transform: translate(75px,-65px);
        opacity: 1;
    }
}

.frame {
    display: flex;
}