$color-torquiose: #02F4BF;
$color-darkblue: #13074E;
$color-darkorange: #E15544;
$color-darkblue-transparent: #13074ec8;

footer {
    width: 90%;
    height: 15vh;
    display: flex;
    color: $color-darkorange;
    z-index: 100;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

@media(min-width(1980px)) {
    footer {
        width: 100%;
        gap: 1000px;
    }

}

.logo-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >a {
        width: 185px;
        height: 140px;

        >img {
            width: 100%;
            height: 100%;
        }
    }
}

.center-frame {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >div {
        display: flex;
        gap: 40px;
    }
}

.links-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    gap: 16px;

    >a {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.center-frame {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >h4 {
        font-size: 23px;
        margin: 0;
        margin-bottom: 16px;
    }

    >div {
        display: flex;
        gap: 32px;
        font-size: 16px;
    }
}

.links-center {
    a {
        color: $color-darkorange;
        transition: all 175ms ease-in-out;
    }

    a:hover {
        color: $color-torquiose;
    }
}

.normal {
    display: flex;
}

.responsive {
    display: none;
}

@media(max-width:1400px) {
    footer {
        width: 100%;
        padding: 0;
    }

    .links-frame {
        margin-right: 120px;
        margin-left: 16px;
    }

    .normal {
        display: none;
    }

    .responsive {
        display: flex;
    }

    .center-frame {
        margin-right: 16px;
    }
}

@media(max-width:950px) {
    footer {
        flex-direction: column;
        height: 30vh;
    }

    .center-frame {
        margin-top: 32px !important;
    }

    .logo-frame {
        margin-left: 0;
        margin-top: 24px;

        >a {
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }

    .links-frame {
        text-align: center;
        margin: 0;
    }

}

@media(max-width:800px) {
    .center-frame {
        margin-top: 32px !important;
        margin-right: 0;

        >h4 {
            font-size: 18px;
        }
    }
}

@media(min-width:2400px) {
    footer{
        padding: 0;
        width: 100%;
    }
}