$color-torquiose: #02F4BF;
$color-darkblue: #13074E;
$color-darkorange: #E15544;
$color-darkblue-transparent: #13074ec8;

footer{
    width: 90%;
    height: 15vh;
    display: flex;
    color: $color-darkorange;
    z-index: 100;
    padding: 0 64px;
}

.logo-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >a{
        width: 60%;
        height: 60%;
        >img{
            width: 100%;
            height: 100%;
        }
    }
}