$color-torquiose: #02F4BF;
$color-darkblue: #13074E;
$color-darkorange: #E15544;
$color-darkblue-transparent: #13074ec8;

footer{
    width: 90%;
    height: 15vh;
    display: flex;
    color: $color-darkorange;
    z-index: 100;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.logo-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >a{
        width: 70%;
        height: 60%;
        >img{
            width: 100%;
            height: 100%;
        }
    }
}

.center-frame{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >div{
        display: flex;
        gap: 40px;
    }
}

.links-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    gap: 16px;
    >button{
        background-color: transparent;
        border: none;
    }
}

.center-frame{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >h4{
        font-size: 23px;
        margin: 0;
        margin-bottom: 16px;
    }
    >div{
        display: flex;
        gap: 32px;
        font-size: 14px;
    }
}

.links-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    gap: 16px;
    >button{
        background-color: transparent;
        border: none;
    }
}